*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(19, 19, 19);
    width: 100%;
}
.select-wrap{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 100vh;
    background: #131313;
}
.select-wrap .toplogo{
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    margin-top: 30px;
    transform: translateX(-50%);
}
.select-wrap .profile-div{
    width: fit-content;
    margin: 0 auto;
}
h1{
    font-weight: 50px;
    margin-bottom: 70px;
    color: white;
    margin-top: 300px;
}
p{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
.profile-ul{
    display: flex;
    list-style: none;
    width: 1000px;
    justify-content: space-between;
}
.profile-li{
    width: 185px;
}
.profile-li img{
    width: 180px;
    border-radius: 10px;
    transition: 0.3s;
}
.profile-li img:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.4);
}
.profile-add{
    width: 180px;
    height: 180px;
    background-color: rgb(155, 155, 155);
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    transition: 0.3s;
}
.profile-add p{
    font-size: 80px;
    color: black;
}
.profile-add p:hover{
    cursor: pointer;
}
.profile-add:hover{
    background-color: rgb(206, 206, 206);
    transform: translateY(-3px);
}
