*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.detail-wrap{
    margin: 100px auto;
    width: 1500px;
    display: flex;
}
.moviezone{
    width: 800px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
}
.movie-box{
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(200, 0, 0, 0.6);
}
.movie-box .movie-image-box{
    width: 800px;
    height: 465px;
}
.moviezone img{
    width: 800px;
    margin-bottom: 15px;
}
.detail-wrap .another-movie{
    width: 680px;
    margin-left: 20px;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 10px;
    height: 1020px;
}
.another-movie p{
    margin-bottom: 20px;
}

.movie-box-top{
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.wishaddzone{
    text-align: right;
}
.wishaddzone p{
    margin-top: 10px;
    margin-right: 57px;
    margin-bottom: 30px;
    color: rgb(172, 172, 172);
}
.wishaddzone button{
    width: 50px;
    height: 50px;
    margin-right: 80px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(172, 172, 172);
    font-size: 24px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 50%;
    margin-bottom: 0;
}
.detail-title{
    color: #d6d6d6;
    font-size: 26px;
    width: 350px;
    margin-left: 30px;
    margin-top: 15px;
}
.movie-box-middle{
    display: flex;
    justify-content: space-between;
}
.movie-box-middle p em{
    font-size: 14px;
    font-style: normal;
    color: rgb(94, 94, 94);
}
.movie-box-middle .middle-vote{
    font-size: 24px;
    color: rgb(233, 233, 233);
    margin-bottom: 0;
}
.movie-box-middle .middle-open{
    font-size: 16px;
    color: rgb(206, 206, 206);
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 10px;
}
.hdline{
    display: flex;
}
.movie-box-middle img{
    margin-top: 2px;
    margin-left: 10px;
    width: 35px;
    display: inline;

}
.movie-box-middle .middle-vote i{
    font-size: 20px;
    color: rgb(252, 166, 37);
}
.movie-box-middle p{
    width: 400px;
    font-size: 17px;
    margin-left: 30px;
    margin-top: 0;
    color: rgb(180, 180, 180);
}
.movie-box-middle button{
    margin-right: 30px;
    padding: 15px 25px;
    margin-bottom: 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.movie-box-middle button:hover{
    background-color: rgb(131, 17, 17);
}
.movie-detail{
    padding: 30px;
}
.movie-detail .detail-1{
    color: #cfcfcf;
    margin-bottom: 10px;
    font-weight: 700;
}
.movie-detail .detail-2{
    color: #cfcfcf;
    margin-bottom: 10px;
    font-weight: 700;
}
.movie-detail .detail-1-con{
    color: rgb(158, 158, 158);
    display: inline-block;
    margin-bottom: 20px;
}
.movie-detail .detail-2-con{
    color: rgb(158, 158, 158);
    display: inline-block;
    margin-bottom: 20px;
}
.wishaddzone button i{
    transition: 0.2s ease;
}
.wishaddzone button i:hover{
    transform: scale(1.2);
    color: rgb(170, 170, 170);
}

/* 뒤로가기 버튼 */
.detail-backBtn-box{
    text-align: center;
    cursor: pointer;
}
.detail-wrap .backBtn{
    padding: 15px 30px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: transparent;
    color: red;
    margin: 30px 0;
    margin-left: 30px;
    font-size: 16px;
}
/* 홈버튼 */
.detail-backBtn-box .homeBtn{
    display: inline-block;
    background-color: red;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: red;
    background-color: transparent;
    border: 1px solid red;
}
.detail-backBtn-box .homeBtn:hover{
    background-color: rgb(36, 36, 36);
}
/* 우측 무작위 영화추천 */
.detail-wrap .backBtn:hover{
    background-color: rgb(36, 36, 36);
}
.detail-right-ul{
    list-style: none;
    padding: 0 15px;
}
.detail-right-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.detail-right-ul li{
    position: relative;
}
.detail-right-ul li img{
    width: 320px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.detail-right-ul li .detail-right-title{
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 5px;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    font-size: 14px;

}
.detail-right-ul li img:hover{
    transform: scale(1.05);
}
.playMovie{
    cursor: pointer;
}
