*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.detail-wrap{
    margin: 100px auto;
    width: 1500px;
    display: flex;
}
.moviezone{
    width: 800px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 60px 30px;

}
.moviezone img{
    margin-left: 120px;
    width: 500px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.detail-wrap .another-movie{
    width: 680px;
    margin-left: 20px;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 10px;
}
.backBtn{
    padding: 10px;
}