.recommand-wrap {
    position: relative; 
    width: 100vw;        
    min-height: 100vh;  
    background-color: #141414;
    color: #fff;
    padding: 0;
    margin: 50px 0;
}
.recommandresult-wrap {
    margin-bottom: 40px;
    position: relative;
}
.recommandresult-head {
    display: inline-block;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 10px 20px;
    border-left: 5px solid #e50914;
    background: linear-gradient(to right, #e50914 0%, transparent 80%);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}
.recommandslider-container {
    position: relative;
    width: calc(8 * 11vw + 7 * 15px); 
    margin: 0 auto;
    overflow: hidden;
    height: 40vh;
    padding: 5px;
}

.recommandresult-lists {
    display: flex;
    gap: 9px; 
    transition: transform 0.5s ease-in-out;
    will-change: transform;

}
.recommandcard {
    position: relative;
    flex: 0 0 auto;
    transition: transform 0.3s ease;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    height: 330px;
}
.recommandcard:hover {
    transform: scale(1.05);
    z-index: 10;
}
.recommandposter {
    width: 98%;
    height: 98%;
    object-fit: contain;
    border-radius: 1.5em;
}
.recommandleft-arrow:before {
    content: "\276E";
}
.recommandright-arrow:before {
    content: "\276F";
}
.recommandleft-arrow {
   left: 1vw;
}
.recommandright-arrow {
    right: 1vw;
}
.recommandleft-arrow,
.recommandright-arrow {
    position: absolute;
    cursor: pointer;
    font-size: 4em;
    top: 48%;
    transform: translateY(-25%);
    text-shadow: 5px 5px 5px #252525;
    z-index: 10;
    user-select: none;
}
.recommandleft-arrow:hover,
.recommandright-arrow:hover {
    opacity: 0.8;
}
