.recommand-wrap {
  width: 100%;
  background-color: #141414;
  color: #fff;
  padding: 40px 0;
  margin: 50px auto;
  text-align: center;
}

.recommandresult-wrap {
  margin-bottom: 40px;
  position: relative;
}

.recommandresult-head {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 50px;
  margin-bottom: 15px;
}

.slider-container {
    margin: 0 auto;
    text-align: center;
}

.recommandresult-lists {
  display: flex;
  height: 350px;
  width: 1580px;
  overflow:hidden;
  padding: 0 50px;
  margin: 0 auto;
  gap: 15px;
}

.recommandcard {
  position: relative;
  flex: 0 0 auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.recommandcard:hover {
  transform: scale(1.05);
  z-index: 10;
}

.recommandposter {
  width: 100%;
  height: 100%;
  object-fit: contain; /* 이미지 비율 유지 */
  background-color: #000;
  border-radius: 10px;
}

.recommandslide-btn {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(20, 20, 20, 0.7);
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 50%;
  transition: background 0.2s;
}

.recommandslide-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

