
.header-wrap{
    width: 100%;
    padding: 20px auto;
}
.header {
    display: flex;
    /* width: 1280px; */
    gap: 20px;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #131313; 
    color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
}

.header-left {
    width: 800px;
    display: flex;
    align-items: center;
}

.header-left img {
    width: 100px;
    margin-right: 30px;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
   color: #aaa;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile:hover .basicTab{
    transform: scale(1.1);
}
.search-btn svg, .dropdown-container .bell svg{
    transition: 0.3s;
}
.search-btn svg:hover{
    transform: scale(1.1);
}
.dropdown-container .bell svg:hover{
    transform: scale(1.2);
}
.search-input {
    width: 0;
    opacity: 0;
    padding: 0;
    border: none;
    background: #333;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
    outline: none;
}
.search-input.show {
    width: 180px;
    opacity: 1;
    padding: 8px 12px;
}


.search-input::placeholder {
    color: #aaa;
}

.search-input:focus {
    background-color: #444;
}

.search, .bell {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
}
.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
}
.profile-img-main{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.basicTab{
    display: inline-block;
    transition: transform 0.3s ease;
}
.spinTab{
    display: inline-block;
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
}
.profile span{
    cursor: pointer;
}
.dropdown-container {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 58px;
    right: 0;
    background-color: #141414;
    border: 1px solid #333;
    border-radius: 5px;
    min-width: 180px;
    padding: 10px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    z-index: 100;
}

.dropdown-container:hover .dropdown-menu {
    display: block;
}
.profile{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}
.dropdown-menu p,
.profile-menu p{
    padding: 10px 30px;
    margin: 0;
    color: #fff;
    cursor: pointer;
}

.dropdown-menu p:hover,
.profile-menu p:hover, .profile-indiviual:hover {
    background-color: #333;
}

.profile-menu {
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: #141414;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    border: 1px solid #333;
    border-radius: 5px;
    width: 265px;
    padding: 10px 0;
    z-index: 200;
}
.profile-others{
    display: flex;
    flex-direction: column;
    border-bottom:  1px solid #333;
}
.profile-indiviual{
    padding: 10px 30px;
    display: flex;
    cursor: pointer;
}
.profile-img-menu{
    margin-right: 30px;
    margin-top: 5px;
    transform: translateY(-5px);
    width: 50px;
    transition: 0.3s;
    border-radius: 5px;
}
.logout{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.profile-menu span{
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
}
.isLink{
    text-decoration: none;
}